<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="ValidateHomePageTitle">
    <classes>
      <class name="firstproject.tests.ValidateHomePageTitle"/>
    </classes>
  </test>
  <test name="ValidateHomePageNavigationBar">
    <classes>
      <class name="firstproject.tests.ValidateHomePageNavigationBar"/>
    </classes>
  </test>
  <test name="LoginTest">
    <classes>
      <class name="firstproject.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
